<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script type="text/javascript">
        var bizBaseApiUrl = '//localhost:8099/api/v1/a107020';
    </script>
    <script type="text/javascript">
        // Create WebSocket connection.
        // var socket = new WebSocket('ws://192.168.1.1:80');

        // // Connection opened
        // socket.addEventListener('open', function(event) {
        //     document.querySelector("#receive").nodeValue = "sfaa";
        //     socket.send('Hello Server!');
        // });

        // // Connection opened
        // // socket.onopen = function(event) {
        // //     document.querySelector("#receive").nodeValue = "sfaa";
        // //     socket.send('Hello Server!');
        // // };

        // // Listen for messages
        // socket.addEventListener('message', function(event) {
        //     console.log('Message from server ', event.data);
        // });



        // function send() {
        //     socket.send(document.querySelector("#msg").value);
        // }

        // function clock() {
        //     var now = new Date();
        //     var ctx = document.getElementById('canvas').getContext('2d');
        //     ctx.save();
        //     ctx.clearRect(0, 0, 150, 150);
        //     ctx.translate(75, 75);
        //     ctx.scale(0.5, 0.5);
        //     ctx.rotate(-Math.PI / 2);
        //     ctx.strokeStyle = 'black';
        //     ctx.fillStyle = 'white';
        //     ctx.lineWidth = 8;
        //     ctx.lineCap = 'round';

        //     // Hour marks
        //     ctx.save();
        //     for (var i = 0; i < 12; i++) {
        //         ctx.beginPath();
        //         ctx.rotate(Math.PI / 6);
        //         ctx.moveTo(100, 0);
        //         ctx.lineTo(120, 0);
        //         ctx.stroke();
        //     }
        //     ctx.restore();

        //     // Minute marks
        //     ctx.save();
        //     ctx.lineWidth = 5;
        //     for (i = 0; i < 60; i++) {
        //         if (i % 5 != 0) {
        //             ctx.beginPath();
        //             ctx.moveTo(117, 0);
        //             ctx.lineTo(120, 0);
        //             ctx.stroke();
        //         }
        //         ctx.rotate(Math.PI / 30);
        //     }
        //     ctx.restore();

        //     var sec = now.getSeconds();
        //     var min = now.getMinutes();
        //     var hr = now.getHours();
        //     hr = hr >= 12 ? hr - 12 : hr;

        //     ctx.fillStyle = 'black';

        //     // write Hours
        //     ctx.save();
        //     ctx.rotate(hr * (Math.PI / 6) + (Math.PI / 360) * min + (Math.PI / 21600) * sec);
        //     ctx.lineWidth = 14;
        //     ctx.beginPath();
        //     ctx.moveTo(-20, 0);
        //     ctx.lineTo(80, 0);
        //     ctx.stroke();
        //     ctx.restore();

        //     // write Minutes
        //     ctx.save();
        //     ctx.rotate((Math.PI / 30) * min + (Math.PI / 1800) * sec);
        //     ctx.lineWidth = 10;
        //     ctx.beginPath();
        //     ctx.moveTo(-28, 0);
        //     ctx.lineTo(112, 0);
        //     ctx.stroke();
        //     ctx.restore();

        //     // Write seconds
        //     ctx.save();
        //     ctx.rotate(sec * Math.PI / 30);
        //     ctx.strokeStyle = '#D40000';
        //     ctx.fillStyle = '#D40000';
        //     ctx.lineWidth = 6;
        //     ctx.beginPath();
        //     ctx.moveTo(-30, 0);
        //     ctx.lineTo(83, 0);
        //     ctx.stroke();
        //     ctx.beginPath();
        //     ctx.arc(0, 0, 10, 0, Math.PI * 2, true);
        //     ctx.fill();
        //     ctx.beginPath();
        //     ctx.arc(95, 0, 10, 0, Math.PI * 2, true);
        //     ctx.stroke();
        //     ctx.fillStyle = 'rgba(0, 0, 0, 0)';
        //     ctx.arc(0, 0, 3, 0, Math.PI * 2, true);
        //     ctx.fill();
        //     ctx.restore();

        //     ctx.beginPath();
        //     ctx.lineWidth = 14;
        //     ctx.strokeStyle = '#325FA2';
        //     ctx.arc(0, 0, 142, 0, Math.PI * 2, true);
        //     ctx.stroke();

        //     ctx.restore();

        //     window.requestAnimationFrame(clock);
        // }

        // window.requestAnimationFrame(clock);
    </script>
    <script type="text/javascript">
        // window.addEventListener("DOMContentLoaded", function() {
        //     var processor = {};

        //     processor.doLoad = function doLoad() {
        //         this.video = document.getElementById('video');
        //         this.c1 = document.getElementById('c1');
        //         this.ctx1 = this.c1.getContext('2d');
        //         this.c2 = document.getElementById('c2');
        //         this.ctx2 = this.c2.getContext('2d');
        //         let self = this;
        //         var errocb = function() {
        //             console.log('sth wrong!');
        //         }
        //         navigator.getUserMedia({
        //             "video": {
        //                 width: 320,
        //                 height: 240
        //             }
        //         }, function(stream) {
        //             self.video.src = URL.createObjectURL(stream);
        //             self.video.play();
        //         }, errocb)
        //         this.video.addEventListener('canplay', function() {
        //             self.width = self.video.videoWidth;
        //             self.height = self.video.videoHeight;
        //             self.timerCallback();
        //         }, false);
        //     }
        //     processor.timerCallback = function timerCallback() {
        //         if (this.video.paused || this.video.ended) {
        //             return;
        //         }
        //         this.computeFrame();
        //         let self = this;
        //         setTimeout(function() {
        //             self.timerCallback();
        //         }, 0);
        //     }
        //     processor.computeFrame = function computeFrame() {
        //         this.ctx1.drawImage(this.video, 0, 0, this.width, this.height);
        //         let frame = this.ctx1.getImageData(0, 0, this.width, this.height);
        //         let l = frame.data.length / 4;

        //         for (let i = 0; i < l; i++) {
        //             let r = frame.data[i * 4 + 0];
        //             let g = frame.data[i * 4 + 1];
        //             let b = frame.data[i * 4 + 2];
        //             if (r > 100)
        //                 frame.data[i * 4 + 3] = 0;
        //         }
        //         this.ctx2.putImageData(frame, 0, 0);
        //         return;
        //     }

        //     processor.doLoad();
        // });
    </script>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected <canvas id="canvas" width="320" height="240"></canvas>
    <video id="video" autoplay="" style='width:320px;height:240px' controls="true"></video>
    <canvas id="c1" width="320" height="240"></canvas>
    <canvas id="c2" width="320" height="240"></canvas> -->


</body>

</html>